@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
}
.wrapper {
  display: flex;
  justify-content: center;
}
nav {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  height: 80px;
  align-items: center;
}
.greeting {
  color: white;
}
nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 20px;
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 18px;
}
.container {
  max-width: 480px;
  width: 100%;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.671);
  margin: 0 auto;
  margin-top: 10%;
}
.input-wrapper {
  margin-bottom: 1rem;
  color: #080808;
  display: block;
  font-weight: bold;
}
.input-wrapper input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #174f80;
  border-radius: 4px;
  font-size: 16px;
}
button {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background-color: #4ba115;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background-color: #747272;
  height: 50px;
  width: 100%;
}

.container2 {
  max-width: 51%;
  margin: 0 auto;
  margin-top: 2%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.671);
}

.container3 {
  max-width: 800px;
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.671);
  margin: 0 auto;
  margin-top: 6%;
}
.register {
  text-align: center;
}

.about-us {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  font-family: 'Lora', serif;
  color: #333;
}

.about-us h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}
.about-us p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* ========================================= */

.category-card {
  background-color: #3d323280;
  border: rgb(248, 12, 51) solid 2px;
  border-radius: 8px;
  margin: 2%;
  padding: 5% 2%;
  color: white;
  width: 25%;
  display: inline-block;
}

.item-card {
  width: 25%;
  margin: 1%;
  padding: 2% 1%;
  color: rgb(172, 5, 33);
  border: 1px solid #ec9b9b;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 13px rgba(194, 107, 107, 0.712);
}

a {
  text-decoration: none;
}

img {
  width: 100px;
  height: 100px;
}

/* itemInfo page style */

.item-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 2%;
  border: 1px solid #ddd;
  padding: 2rem;
}

.main-image img {
  width: 50%;
  height: 50%;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.small-images {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.item-details {
  margin: auto 0;
  text-align: left;
  flex-grow: 1;
  font-size: 1.2rem;
}

.small-images img {
  width: 10%;
  height: 10%;
  cursor: pointer;
  margin: 0 0.5rem;
}

.item-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.description {
  margin-top: 1rem;
}

.small-images img.active {
  border: 2px solid rgb(255, 0, 85);
}

.item-details button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  margin: 4px 2px;
  border-radius: 4px;
}

.item-details button.edit-item {
  background-color: #2196f3;
}

.item-details button.delete-item {
  background-color: #f44336;
}

.item-details button:hover {
  opacity: 0.8;
}

.title {
  color: #333333d8;
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
}

/* Cart page */
.cart-card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 2%;
  border: 1px solid #ddd;
  padding: 2rem;
}
.cartBtn {
  width: 100px;
  height: 30px;
  background-color: #f4511e;
  color: white;
  text-align: center;
  font-size: 15px;
  margin: 0 60px;
  opacity: 0.6;
  transition: 0.3s;
}

.cartBtn:hover {
  opacity: 1;
}
