@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
}
.wrapper {
  display: flex;
  justify-content: center;
}
nav {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  height: 80px;
  align-items: center;
}
.greeting {
  color: white;
}
nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 20px;
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 18px;
}
.container {
  max-width: 480px;
  width: 100%;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.671);
  margin: 0 auto;
  margin-top: 10%;
}
.input-wrapper {
  margin-bottom: 1rem;
  color: #080808;
  display: block;
  font-weight: bold;
}
.input-wrapper input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #174f80;
  border-radius: 4px;
  font-size: 16px;
}
button {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background-color: #0f8018;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background-color: #747272;
  height: 50px;
  width: 100%;
}

.container2 {
  max-width: 51%;
  margin: 0 auto;
  margin-top: 2%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.671);
}

.container3 {
  max-width: 800px;
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.671);
  margin: 0 auto;
  margin-top: 6%;
}
.register {
  text-align: center;
}

.about-us {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  font-family: 'Lora', serif;
  color: #333;
}

.about-us h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}
.about-us p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* ========================================= */

.category-card {
  background-color: #3d323280;
  border: rgb(248, 12, 51) solid 2px;
  border-radius: 8px;
  margin: 2%;
  padding: 5% 2%;
  color: white;
  width: 25%;
  display: inline-block;
}

.item-card {
  width: 25%;
  margin: 1%;
  padding: 2% 1%;
  color: rgb(172, 5, 33);
  border: 1px solid #ec9b9b;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 13px rgba(194, 107, 107, 0.712);
}

a {
  text-decoration: none;
}

img {
  width: 100px;
  height: 100px;
}

/* itemInfo page style */

.item-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 2%;
  border: 1px solid #ddd;
  padding: 2rem;
}

.main-image img {
  width: 50%;
  height: 50%;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.small-images {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.item-details {
  margin: auto 0;
  text-align: left;
  flex-grow: 1;
  font-size: 1.2rem;
}

.small-images img {
  width: 10%;
  height: 10%;
  cursor: pointer;
  margin: 0 0.5rem;
}

.item-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.description {
  margin-top: 1rem;
}

.small-images img.active {
  border: 2px solid rgb(255, 0, 85);
}

.item-details button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  margin: 4px 2px;
  border-radius: 4px;
}

.item-details button.edit-item {
  background-color: #2196f3;
}

.item-details button.delete-item {
  background-color: #f44336;
}

.item-details button:hover {
  opacity: 0.8;
}

.title {
  color: #333333d8;
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
}

/* Cart page */
.cart-card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 2%;
  border: 1px solid #ddd;
  padding: 2rem;
}

/* Manage Item Table*/

.items-table {
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
  color: #574048;
}

.items-table th,
.items-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.items-table a {
  text-decoration: none;
  color: #574048;
  font-weight: bolder;
  font-size: 1rem;
}

.items-table th {
  background-color: #f2f2f2;
}

.items-table button {
  margin: 5px;
  width: 30%;
  justify-content: center;
  display: inline-flex;
}

.edit-btn {
  background-color: #1a6e5b;
}
.edit-btn:hover {
  background-color: #1e8d73;
}

.delete-btn {
  background-color: #a00909d5;
}
.delete-btn:hover {
  background-color: #db1818d5;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-radius: 8px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Add item form */

.form {
  max-width: 450px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form div {
  margin-bottom: 20px;
}

.form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  color: #333;
}

.form input,
.form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form textarea {
  height: 100px;
}

.form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #18811b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form button:hover {
  background-color: #16ac1d;
}

.add-item-btn {
  margin: 2%;
  width: 10%;
  padding: 0.5rem 1rem;
  background-color: #18811b;
}

.add-item-btn:hover {
  background-color: #16ac1d;
}

/* payment */

.payment-form {
  padding: 7%;
  border: 1px solid #615f5f;
  box-shadow: #342e3b 2px 4px 3px 0;
  border-radius: 5px;
  margin: 3% auto;
  max-width: 500px;
}

.payment-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.card-details,
.expiry-cvc,
.cardholder-name,
.sec-code {
  margin-bottom: 15px;
}

label {
  display: block;
  text-align: left;
  font-size: large;
  margin-bottom: 1%;
}

.card-details input,
.expiry-cvc input,
.cardholder-name input,
.sec-code input {
  width: 100%;
  padding: 3%;
  font-size: large;
}

::placeholder {
  color: #999;
  font-size: large;
}

.pay-btn {
  width: 100%;
  padding: 2%;
  font-size: large;
}
